body{
    font-size: 1.2em;
    margin: 0;
/**/
}
img {
    max-width: 100%;
    padding: 0;
}
.content{
    background: white;
    color: black;
}
.fa-linkedin {
  background: #007bb5;
  border-radius: 10px;
  color: white;
  padding: 1.1em;
}


/*
the colors are
purple
    #81018c
blue
    #38a8b0
dark grey
    #576278
lighter grey
    #a9a8ad
yellow color
    #FFE066
*/
